/* Toggle Button */
.nav-toggle {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
}

/* === Mobile Responsiveness === */
@media (max-width: 768px) {

   .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--text-color);
  }
  .nav-toggle {
    display: block;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .site-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--text-color);
  }

  .site-nav.active {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
  }

  .nav-button {
    text-align: center;
    padding: 1em;
  }

   .site-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--text-color);
  }

  .logo img {
    max-width: 120px;
    height: auto;
  }

   .reviews-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
    padding: 1rem;
  }

    .review-swiper .swiper-slide {
    flex: 0 0 100%;
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  

}